@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
.sorting-buttons {
    display: flex;
}

.default {
    margin-left: 140px;
    border: none;
    color : rgba(8, 231, 247, 0.927);
    font-size: 20px;
    font-family: 'Rubik Dirt', cursive; 
}

.menu {
    font-family: 'Rubik Dirt', cursive;
    margin-left: 150px;
    font-size: 20px;
    color: rgb(8, 231, 247);
}
.menu-clicked{
    margin-left: 150px;
    font-family: 'Rubik Dirt', cursive;
    font-size: 20px;
    width: max-content;
    height: max-content;
    color: rgba(241, 241, 12, 0.922);
    background-color: black;
}
.breakfast, .lunch, .dinner, .shake {
    margin-left: 140px;
    border: none;
    color: rgba(241, 241, 12, 0.922);
    font-size: 20px;
    font-family: 'Rubik Dirt', cursive;
    background-color: black;
}

